*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ffffff;
}


#navtoggler li a {
    color: rgb(0, 0, 0);
}
#navtoggler li a:hover{
    color: #00c1f1;
}

.my-images img{
    height: 600px;
}

.custom-back{
    margin-top: 50px;
}

.custom-back img {
    width: 400px;
    height: 400px;
    /* Centering a image horizonatlly */
    display: block;
    margin: auto auto;

    /* Giving Border and Shadows */
    border: 1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 5px;
}

.custom-back img:hover {
    opacity: 0.7;  
}
.custom-content {
    /* background image */
 /*   background-image: url("/images/content.jpg");*/
    /* for covering single whole image */
    background-size: cover;

    /* background content */
    color: #000000;
    
}

footer {
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    height: 100%;
    margin-bottom: 0;
}
.footer-icons .fab{
    color: #1298F6;   
}
